h1 {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	padding: 0.2em;
	border: none;
	font-size: 2em;
	color: #999;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.5em;
	color: #999;
}
li {
	line-height: 1.2em;
}
@media screen {
	body {
		background: #f5f5f5;
	}
	#wrapper {
		width: 60%;
		margin: 30px auto;
		background-color: #fff;
		box-shadow: 0px 3px 5px #444;
	}
}
@media print {
	#wrapper {
		width: 90%;
		box-shadow: none;
	}
}
