.brand, .name {
	font-family: Lobster, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.resume {
	font-family: Lobster, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2em;
	width: 5em;
	margin: auto;
}

.avatar-phone {
	width: 128px;
	height: 128px;
	margin: auto;
}

.social {
	width: 19.5em;
	margin: auto;
}

.social a {
	margin: 0.4em;
	color: #000;
	font-size: 2em;
	text-decoration: none;
}

.social a:hover {
	color: #333;
}

.description {
	font-size: small;
	font-weight: bolder;
}

.thumbnail {
	color: #000;
}

.thumbnail:hover {
	color: #000;
	text-decoration: none;
}

.contactbox {
	width: 50%;
	margin: auto;
}

.contact {
	width: 100%;
	height: 580px;
}

i {
	color: #000;
}
