body {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand, .subtitle {
	font-family: 'Julius Sans One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-inner {
	box-shadow: none !important;
	background-color: #fff;
	background-image: none;
	border: none;
}

.nav li a {
	font-size: 1.5em;
	position: relative;
	text-transform: lowercase;
}

.nav li a:hover {
	top: -1px;
}

.hero-unit {
	background-color: #fff;
}

.hero-unit h1 {
	font-size: 5em;
}

.hero-unit .lead {
	font-size: 2em;
}

.social {
	color: #777;
	text-decoration: none;
	font-size: 2em;
	margin: auto;
	position: relative;
}

.social-phone {
	width: 19em;
	margin: auto;
}
.social-phone a {
	margin: 4%;
	border: thin 1px #000;
}

.social:hover {
	color: #000;
	text-decoration: none;
	top: -1px;
}

.description {
	font-size: small;
	font-weight: bolder;
}

.thumbnail {
	color: #000;
}

.thumbnail:hover {
	color: #000;
	text-decoration: none;
}

.contactbox {
	width: 50%;
	margin: auto;
}

.contact {
	width: 100%;
	height: 580px;
}

i {
	color: #000;
}
