a {
	color: rgb(38,121,219);
}

.navbar-container {
	width: 22.5em;
	margin: auto;
}

.navbar {
	margin: 0;
	font-size: 1.5em;
	text-transform: lowercase;
}

.nav > li > a {
	color: #333;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav > li > a:hover {
	color: rgb(38,121,219);
	background: none;
	top: -1px;
}

.jumbotron,
.jumbotron .title,
.jumbotron .subtitle,
.thumbnail .thumbnail-title {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.jumbotron {
	background: none;
}

.jumbotron .title {
	font-size: 3em;
}

.jumbotron .subtitle {
	font-weight: lighter;
}

.jumbotron .lead {
	max-width: 40em;
	margin: 20px auto;
}

.section-title,
.thumbnail .caption {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.thumbnail {
	border: none;
	box-shadow: none;
	border-radius: 0;
}

.thumbnail h3 {
	font-size: 1.6em;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.thumbnail-caption {
		min-height: 4em;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.thumbnail-caption {
		min-height: 3em;
	}
}

@media only screen and (min-width: 1200px) {
	.thumbnail-img {
		min-height: 12em;
	}

	.thumbnail-caption {
		min-height: 3em;
	}
}

.fa {
	transition: color 0.4s ease;
}

.fa-stack {
	font-size: 1.4em;
	color: rgb(38,121,219);
}

.fa-stack:hover {
	color: white;
}

.fa-stack:hover .fa-inverse {
	color: rgb(38,121,219);
}

@media only screen and (min-width: 480px) {
	.fa-stack {
		font-size: 2em;
	}
}
