---
---
@mixin fontfam($font) {
  font-family: $font, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin css3-prefix($property, $value...) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

:root {
  color-scheme: light dark;
  --body-bg: #fff;
  --body-color: #333;
  --link-color: rgb(38,121,219);
  --link-color-hover: rgb(35,82,124);
  --navbar-border-color: #e7e7e7;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #333;
    --body-color: #ccc;
    --link-color-hover: var(--link-color);
    --navbar-border-color: #181818;
  }
}

// provide adequate space for fixed-top-navbar
body {
  padding-top: 80px;
  background: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);
  border-bottom: 1px solid transparent;
  &:hover {
    color: var(--link-color-hover);
    text-decoration: none;
    border-bottom: 1px solid;
    @include css3-prefix(transition, all .3s);
    @include css3-prefix(transition-property, border, color);
  }
}

.navbar {
  font-size: 1.6em;
  background: var(--body-bg);
}

.navbar-default {
  border-color: var(--navbar-border-color);
  .navbar-collapse {
    border-color: var(--navbar-border-color);
  }
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    border-bottom: none;
  }
}

// center navbar on tablets and desktops
@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  @include fontfam('Oxygen');
  color: var(--body-color);
  border-bottom: none;
  &:hover {
    color: var(--link-color);
  }
}

.jumbotron,
.jumbotron .title,
.section-title,
.thumbnail .thumbnail-title {
  @include fontfam('Oxygen');
}

.jumbotron {
  background: none;
  .title {
    font-size: 6em;
  }
  .lead {
    max-width: 40em;
    margin: 20px auto;
    @include fontfam('Source Sans Pro');
  }
  @media only screen and (max-width: 767px) {
    .title {
      font-size: 2.7em;
    }
  }
}

.thumbnail .caption {
  @include fontfam('Source Sans Pro');
  color: var(--body-color);
}

.thumbnail {
  background: var(--body-bg);
  border: none;
  border-radius: 0;
  box-shadow: none;
  h3 {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 768px) {
  .thumbnail-img {
    min-height: 11em;
  }
  .thumbnail-caption {
    min-height: 5em;
  }
}

@media only screen and (min-width: 992px) {
  .thumbnail-caption {
    min-height: 3em;
  }
}

.social-link:hover {
  border-bottom: none;
}

.fa {
  transition: color .4s ease;
}

.fa-stack {
  color: var(--link-color);
  &:hover {
    color: #fff;
    .fa-inverse {
      color: var(--link-color);
    }
  }
}

.footer {
  margin-top: 1em;
  margin-bottom: 2em;
  @include fontfam('Oxygen');
  color: #aaa;
  a {
    color: #aaa;
  }
}
