---
---
$main-color: rgb(38,121,219);

@mixin fontfam($font) {
	font-family: $font, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: $main-color;
}

.navbar-container {
	width: 23em;
	margin: auto;
}

.navbar {
	margin: 0;
	font-size: 1.6em;
}

.nav > li > a {
	color: #333;
	padding: 16px 6px;
	@include fontfam('Oxygen');
	&:hover {
		color: $main-color;
		background: none;
		text-decoration: underline;
	}
	&:focus {
		background: none;
	}
}

#nav-home {
	padding: 8px 8px;
}

.jumbotron,
.jumbotron .title,
.section-title,
.thumbnail .thumbnail-title {
	@include fontfam('Oxygen');
}

.jumbotron {
	background: none;
	.title {
		font-size: 6em;
	}
	.lead {
		@include fontfam('Source Sans Pro');
		max-width: 40em;
		margin: 20px auto;
	}
	@media only screen and (max-width: 768px) {
		.title {
			font-size: 4em;
		}
	}
}

.thumbnail .caption {
	@include fontfam('Source Sans Pro');
}

.thumbnail {
	border: none;
	box-shadow: none;
	border-radius: 0;
	h3 {
		font-size: 1.6em;
	}
}

@media only screen and (min-width: 768px) {
	.thumbnail-img {
		min-height: 11em;
	}

	.thumbnail-caption {
		min-height: 5em;
	}
}

@media only screen and (min-width: 992px) {
	.thumbnail-caption {
		min-height: 3em;
	}
}

.fa {
	transition: color 0.4s ease;
}

.fa-stack {
	color: $main-color;
	&:hover {
		color: white;
		.fa-inverse {
			color: $main-color;
		}
	}
}
