body {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.subtitle {
	font-family: 'Julius Sans One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-container {
	width: 23em;
	margin: auto;
}

.navbar {
	margin: 0;
	font-size: 1.5em;
	text-transform: lowercase;
}

.nav > li > a {
	color: #333;
}

.nav > li > a:hover {
	color: rgb(38,121,219);
	background: none;
	top: -1px;
}

.jumbotron {
	background: none;
}

.jumbotron h1 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bolder;
	font-size: 3em;
}

.jumbotron .lead {
	font-size: 1.2em;
}

.section-title {
	font-family: 'Julius Sans One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.thumbnail {
	border: none;
	box-shadow: none;
	border-radius: 0;
}

.thumbnail:hover {
	background: rgb(236,240,241);
}

.fa {
	transition: color 0.4s ease;
}

.fa-stack {
	font-size: 1.4em;
	color: rgb(38,121,219);
}

.fa-stack:hover {
	color: white;
}

.fa-stack:hover .fa-inverse {
	color: rgb(38,121,219);
}

@media only screen and (min-width: 480px) {
	.fa-stack {
		font-size: 2em;
	}
}
