body {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand, .subtitle {
	font-family: 'Julius Sans One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
	box-shadow: none;
	background: none;
	border: none;
}

.navbar-default .navbar-nav > li > a {
	font-size: 1.5em;
	color: #333;
	text-transform: lowercase;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: black;
	position: relative;
	top: -1px;
}

.jumbotron {
	background: none;
}

@media only screen and (min-width: 481px) {
	.jumbotron {
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0px 1px 2px #777;
	}
}

.jumbotron h1 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bolder;
	font-size: 3em;
}

.jumbotron .lead {
	font-size: 1.2em;
}

.section-title {
	font-family: 'Julius Sans One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fa {
	transition: color 0.4s ease;
}

.fa-stack {
	color: rgb(38,121,219);
}

.fa-stack:hover {
	color: white;
}

.fa-stack:hover .fa-inverse {
	color: rgb(38,121,219);
}
