[submodule "ucc"]
	path = ucc
	url = https://github.com/alykhank/ucc.git
[submodule "WAC2011"]
	path = WAC2011
	url = https://github.com/alykhank/wac2011.git
[submodule "WAC2010"]
	path = WAC2010
	url = https://github.com/alykhank/wac2010.git
[submodule "resume"]
	path = resume
	url = https://github.com/alykhank/resume.git
[submodule "locale"]
	path = locale
	url = https://github.com/alykhank/locale.git
