<meta charset="utf-8">
<meta name="author" content="Alykhan Kanji">
<meta name="description" content="The website of Alykhan Kanji. See Alykhan's social media profiles and professional portfolio.">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Alykhan">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:700,400|Julius+Sans+One">
<link rel="stylesheet" href="css/style.css">
<link rel="icon" type="image/png" href="img/ak.png">
<link rel="apple-touch-icon" type="image/png" href="img/ak.png">
{% include google-analytics.html %}
{% include mixpanel.html %}
