<div class="navbar-container">
	<nav class="navbar" role="navigation">
		<ul class="nav nav-pills">
			<li><a href="/" id="nav-home">Home</a></li>
			<li><a href="/#portfolio" id="nav-portfolio">Portfolio</a></li>
			<li><a href="resume.html" id="nav-resume">R&eacute;sum&eacute;</a></li>
		</ul>
	</nav>
</div>
<script>
	mixpanel.track_links("#nav-home", "Nav Link Click", {'Page': 'Home'});
	mixpanel.track_links("#nav-portfolio", "Nav Link Click", {'Page': 'Portfolio'});
	mixpanel.track_links("#nav-resume", "Nav Link Click", {'Page': 'Resume'});
</script>
