<div class="navbar-container">
	<nav class="navbar">
		<ul class="nav nav-pills">
			<li>
				<a href="/" id="nav-home">
					<img src="/img/ak.png" alt="Home" width="48" height="48">
				</a>
			</li>
			<li><a href="/#portfolio" id="nav-portfolio">Portfolio</a></li>
			<li><a href="/blog/" id="nav-blog">Blog</a></li>
			<li><a href="/resume.html" id="nav-resume">R&eacute;sum&eacute;</a></li>
		</ul>
	</nav>
</div>
<script>
	mixpanel.track_links("#nav-home", "Nav Link Click", {'Page': 'Home'});
	mixpanel.track_links("#nav-portfolio", "Nav Link Click", {'Page': 'Portfolio'});
	mixpanel.track_links("#nav-blog", "Nav Link Click", {'Page': 'Blog'});
	mixpanel.track_links("#nav-resume", "Nav Link Click", {'Page': 'Resume'});
</script>
