<section id="portfolio">
  <h1 class="text-center section-title">Portfolio</h1>
  <br>
  <div class="row">
    {% for p in site.data.projects %}
      <div class="col-xs-6 col-sm-3">
        <div class="thumbnail">
          {% if p.thumbnail %}
            <div class="thumbnail-img">
              <img src="img/{{ p.thumbnail }}.png" alt="{{ p.title }}" {% if p.thumbnail_tall %}width="75"{% endif %} class="img-responsive center-block">
            </div>
          {% endif %}
          <div class="text-center caption">
            <h3 class="thumbnail-title">{{ p.title }}</h3>
            <p class="thumbnail-caption">{{ p.caption }}</p>
            {% if p.live %}
              <a href="{{ p.live }}" target="_blank" class="btn btn-primary btn-block">Live</a>
            {% endif %}
            {% if p.github %}
              <a href="{{ p.github }}" target="_blank" class="btn btn-default btn-block">GitHub</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% cycle nil, '<div class="clearfix visible-xs"></div>', nil, '<div class="clearfix"></div>' %}
    {% endfor %}
  </div>
</section>
