<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  {% include head.html %}
  {% if page.custom_css %}
  <link rel="stylesheet" href="/css/{{ page.custom_css }}.css">
  {% endif %}
</head>
<body onload="mixpanel.track('Page View', {'Page Name': '{{ page.pagename }}', 'URL': window.location.href});">
  {% include navbar.html %}
  <div class="container">
    {{ content }}
  </div>
  {% include footer.html %}
  {% include jslibs.html %}
  {% include localscroll.html %}
</body>
</html>
